## .NET Core
bin/
obj/
*.user
*.suo
*.userprefs
.vs/
.vscode/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]pp_[Dd]ata/

## Rider
.idea/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Publish
publish/
*.pubxml

## Environment
.env
appsettings.Development.json
